$black: #000;

@keyframes slideText {
	0% {
		transform: translateY(-70%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideTextBottom {
	0% {
		transform: translate(-27%, 27%);
		opacity: 0;
	}

	100% {
		transform: translateX(0, 0);
		opacity: 1;
	}
}

@keyframes slideInLogo {
	0% {
		transform: translateX(-1000%) rotate3d(1, 1, 1, 360deg);
	}

	70% {
		transform: translateX(0) rotate3d(1, 1, 1, 180deg);
	}

	100% {
		transform: rotate3d(1, 1, 1, 0deg);
	}
}

@keyframes slideInText {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInTextRight {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideFromBottom {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes animateImg {
	0% {
		transform: translate(-50%, -70%);
	}

	50% {
		transform: translate(-50%, -50%);
	}

	100% {
		transform: translate(-50%, -70%);
	}
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes movedown {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(1000vh);
	}
}
